@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  color: white;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 -20%, #04619f 74%, #000000 110%);
}

img{
  pointer-events: none;
}

html{
  scroll-behavior: smooth;
}

hr{
  background: white;
  margin-left: 5%;
  margin-right: 5%;
  padding: 2px;
  border-radius: 10px;
}

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-thumb{
  background: grey;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover{
  background: rgba(136, 136, 136, 0.561);
}

::-webkit-input-placeholder{
  background: white;
}

.error-container{
  font-family: 'Poppins', sans-serif;
  position: fixed;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.error-message h1{
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.error-message p{
  font-family: 'Lato', sans-serif;
  text-align: center;
  letter-spacing: none;
  font-size: 18.5px;
  font-weight: 300;
}

.error-message a{
  margin-left: 36%;
  margin-right: 36%;
  margin-bottom: 25px;
  padding: 10px;
  color: white;
  background: grey;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  font-size: 18.5px;
  border-radius: 25px;
  transition: .5s;
}

.error-message a:hover{
  background: black;
  color: white;
  transition: .5s;
}

.loading-screen{
  font-size: 20px;
}

.loading-animation{
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#delay-1{
  animation-delay: 0s;
  margin-right: 10px;
}

#delay-2{
  animation-delay: 0.1s;
  margin-left: 10px;
  margin-right: 10px;
}

#delay-3{
  animation-delay: 0.2s;
  margin-left: 10px;
}

.nav-bar{
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: #02030e;
  align-items: center;
  padding-top: 9px;
  padding-bottom: 6px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo a{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 200;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: .5s;
}

.logo a:hover{
  color: rgb(97, 97, 97);
  transition: .5s;
}

.logo a:focus{
  outline: 1px solid white;
  border-radius: 5px;
}

.burger-icon{
  display: none;
  cursor: pointer;
}

.contact-icon{
  display: none;
  cursor: pointer;
}

#burger-style{
  transform: translateY(-1px);
}

#contact-style{
  font-size: 25px;
  transform: translateY(-1px);
}

.nav-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: 'Lato', sans-serif;
  width: 60%;
  margin-top: 15px;
  margin-bottom: 17px;
}

.nav-list li{
  list-style: none;
  font-size: 17px;
  line-height: 30px;
}

.nav-list li a{
  text-decoration: none;
  align-items: center;
  color: white;
  padding: 7px 20px;
  line-height: 25px;
  border-radius: 25px;
  font-weight: 300;
  transition: .5s;
}

.nav-list li a:hover{
  background: white;
  color: black;
  font-weight: 800;
  transition: .5s;
}

.button{
  padding-bottom: 0px;
  font-weight: 900;
}

.button a{
  border: 1px solid white;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  padding: 7px 25px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin-bottom: 2px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: .5s;
}

.button a:hover{
  background: white;
  color: black;
  border: 1px solid black;
  transition: .5s;
}

#report-icon{
  transform: translateY(-2px);
  margin-right: 8px;
}

.notification{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-left: 37%;
  margin-right: 37%;
  z-index: 500;
  position: sticky;
  top: 0;
}

.notification .notification-content{
  background: rgb(216, 96, 96);
  margin-top: 2vh;
  border: 2px solid rgb(119, 24, 24);
  border-radius: 5px;
  color: black;
  position: fixed;
  bottom: -150px;
  right: 25px;
  transition: .5s;
}

.notification.active .notification-content{
  transition: .5s;
  bottom: 30px;
}

.update-message{
  font-family: 'Lato', sans-serif;
  display: none;
  text-align: left;
  margin: .5em;
  background: rgb(80, 144, 218);
  border: 3px solid rgb(0, 119, 255);
  border-radius: 3px;
  color: black;
  font-weight: 400;
  letter-spacing: 0px;
  z-index: 55;
}

#update-title{
  font-weight: bold;
  font-size: 20px;
}

#update-icon{
  transform: translate(-4px, -4px);
  margin-right: 3px;
}

#close-icon{
  font-size: 35px;
  float: right;
  cursor: pointer;
  margin: .3em;
  transition: .5s;
}

#close-icon:hover{
  color: white;
  transition: .5s;
}

.update-message.close{
  display: none;
}

.intro-container{
  font-family: 'Lato', sans-serif;
  margin: 0.5em;
  text-align: center;
  align-items: center;
  font-size: 17.5px;
  font-weight: 300;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 5%;
  margin-right: 5%;
}

.intro h1{
  font-weight: 800;
  font-family: 'Lato', sans-serif;
  text-align: left;
  margin: 0.7em;
  text-transform: uppercase;
}

.intro img{
  width: 20%;
  border-radius: 100%;
  margin: 2.5em;
  float: right;
}

.intro p{
  margin: 1.5em;
  text-align: left;
}

#works-title{
  text-align: center;
}

.works-container{
  font-family: 'Lato', sans-serif;
  margin: 0.5em;
  font-size: 17.5px;
  text-align: center;
  align-items: center;
  font-weight: 300;
  padding-top: 5px;
  padding-bottom: 5px;
}

.works h1{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

#work-description{
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 17.5px;
  font-weight: 300;
  text-align: center;
}

.works-1, .works-2, .works-3, .works-4{
  display: inline-block;
  width: 50%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.works-1 a{
  text-decoration: none;
  cursor: pointer;
  color: white;
  transition: .5s;
}

.works-1 a:hover{
  color: rgb(0, 132, 255);
  transition: .5s;
}

.works-1 h3, .works-2 h3, .works-3 h3, .works-4 h3{
  font-weight: 500;
  text-transform: uppercase;
  font-size: 23px;
}

.works-1 img, .works-2 img, .works-3 img, .works-4 img{
  width: 75%;
  border-radius: 25%;
  transform: translateX(-30px);
}

.work-update{
  margin-left: 15%;
  margin-right: 15%;
}

.contact-info{
  margin: 1.5em;
  font-family: 'Lato', sans-serif;
  font-size: 17.5px;
  text-align: center;
  align-items: center;
  font-weight: 300;
  padding-top: 30px;
  padding-bottom: 15px;
}

.posts-container{
  margin: 1.5em;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.posts-container-intro{
  margin: 2.5em;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.posts-month{
  list-style: none;
  margin-left: 40%;
  margin-right: 40%;
}

.posts-select{
  width: 40vh;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 15px;
  background: rgb(59, 59, 59);
  outline: none;
  border: none;
  color: white;
}

.posts-select:checked{
  transition: .5s;
}

#posts-month-unavailable{
  color: rgb(116, 116, 116);
}

#posts-title{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
}

#posts-title-intro{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Lato', sans-serif;
}

#posts-description{
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 300;
  font-size: 17.5px;
}

#posts-description-intro{
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 300;
  font-size: 17.5px;
}

.post{
  background: rgb(59, 59, 59);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: white;
  border-radius: 5px;
  margin: 2em;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 17.5px;
}

#post-content{
  margin: 2em;
}

#post-date{
  margin: 2em;
  font-style: italic;
}

.contact-info h1{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.contact-info p{
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

#contact-link{
  color:rgb(0, 132, 255);
}

footer{
  background: #02030e;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.new-footer{
  background: #02030e;
  padding-top: 35px;
  padding-bottom: 15px;
  color: white;
}

.new-footer-row{
  margin-left: 10%;
  margin-right: 10%;
}

#footer-edited{
  padding-top: 20px;
}

.footer-row{
  margin-left: 8%;
  margin-right: 8%;
}

.copyright{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.social-media-links{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 200;
  float: right;
}

.social-media-links li{
  list-style: none;
  display: inline-block;
}

.social-media-links li a{
  text-decoration: none;
  color: white;
  border-radius: 25px;
  transition: .5s;
  padding: 8px 15px;
  margin: 5px;
  transition: .5s;
}

.social-media-links li a:hover{
  text-decoration: underline;
  background: white;
  color: black;
  font-weight: 900;
  transition: .5s;
}

@media screen and (max-width: 850px)
{
  body{
    overflow-x: hidden;
  }
  .error-message{
    margin-left: 10%;
    margin-right: 10%;
  }
  .error-message a{
     margin-left: 30%;
     margin-right: 30%;
  }
  .update-message{
    margin-left: 7%;
    margin-right: 7%;
  }
  .notification{
    text-align: center;
    z-index: 500;
  }
  .notification .notification-content{
    right: -3px;
    text-align: center;
    margin: 2em;
  }
  .intro-container{
    margin: 0em;
  }
  .intro{
    margin: 0em;
  }
  .intro img{
    width: 60%;
    float: none;
  }
  .intro h1{
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
    align-items: center;
    margin: 0;
    text-transform: uppercase;
  }
  .intro p{
    text-align: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
  }
  .logo a{
    font-size: 18px;
  }
  .nav-bar{
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .nav-list{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: fixed;
    background: black;
    width: 100%;
    height: 100%;
    padding-top: -30px;
    padding-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    top: 30px;
    right: 1000px;
    z-index: -1;
    transition: 1.2s;
  }
  .nav-list.is_active{
    right: 0px;
    transition: 0.9s;
  }
  .burger-icon{
    display: block;
  }
  .contact-icon{
    display: block;
  }
  .works{
    margin: 0;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .works-1 img, .works-2 img, .works-3 img, .works-4 img{
    width: 100%;
    align-items: center;
    text-align: center;
    transform: translateX(-40px);
  }
  .works-1, .works-2, .works-3, .works-4{
    margin-left: 5%;
    margin-right: 5%;
    margin: 1.5em;
  }
  .work-update{
    margin-left: 7%;
    margin-right: 7%;
  }
  .posts-container{
    margin: 0.25em;
  }
  .posts-container-intro{
    margin: 0.25em;
  }
  #posts-title{
    margin-top: 45px;
    text-align: center;
  }
  #posts-description{
    text-align: center;
    margin-bottom: 45px;
  }
  #post-content{
    text-align: left;
  }
  #post-date{
    text-align: left;
  }
  .contact-info{
    margin: 0;
    margin-left: .5%;
    margin-right: .5%;
    padding-bottom: 25px;
  }
  footer{
    padding-top: 25px;
    padding-bottom: 5px;
  }
  .copyright{
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .footer-row{
    margin-left: 1%;
    margin-right: 1%;
  }
  .social-media-links{
    float: none;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}