@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  color: white;
  background: #242525;
  letter-spacing: 0.5px;
}

#mobile-remove{
  transform: translateY(-1px);
}

h1{
  letter-spacing: 0px;
}

img{
  pointer-events: none;
}

html{
  scroll-behavior: smooth;
}

hr{
  background: rgb(255, 255, 255);
  margin-left: 1%;
  margin-right: 1%;
  padding: 2px;
  border-radius: 10px;
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background: black;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover{
  background: rgba(136, 136, 136, 0.561);
}

::-webkit-input-placeholder{
  background: white;
}

.center-container{
  font-family: 'Poppins', sans-serif;
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.center-message h1{
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.center-message p{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  letter-spacing: none;
  font-size: 18.5px;
  font-weight: 300;
}

.center-message a{
  margin-left: 31%;
  margin-right: 31%;
  margin-bottom: 25px;
  padding: 10px;
  color: white;
  background: transparent;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid white;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  font-size: 17.5px;
  border-radius: 25px;
  transition: .5s;
}

.center-message a:hover{
  background: white;
  color: black;
  transition: .5s;
}

.loading-screen{
  font-size: 20px;
}

.loading-animation{
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#delay-1{
  animation-delay: 0s;
  margin-right: 10px;
}

#delay-2{
  animation-delay: 0.1s;
  margin-left: 10px;
  margin-right: 10px;
}

#delay-3{
  animation-delay: 0.2s;
  margin-left: 10px;
}

.nav-bar{
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: #0c0c0c;
  box-shadow: 0 0 4px black;
  align-items: center;
  padding-top: 9px;
  padding-bottom: 6px;
  position: sticky;
  top: 0px;
  z-index: 15;
}

.logo a{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-weight: 200;
  text-transform: uppercase;
  color: white;
  font-size: 17.5px;
  text-decoration: none;
  transition: .5s;
}

.logo a:hover{
  color: rgb(97, 97, 97);
  transition: .5s;
}

.logo a:focus{
  outline: 1px solid white;
  border-radius: 5px;
}

.burger-icon{
  display: none;
  cursor: pointer;
}

.contact-icon{
  display: none;
  cursor: pointer;
}

#burger-style{
  transform: translateY(-1px);
}

#contact-style{
  font-size: 25px;
  transform: translateY(-1px);
}

#nav-icons-style{
  transform: translateY(-1.5px);
  margin-right: 10px;
}

.nav-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  width: 67%;
  margin-top: 15px;
  margin-bottom: 17px;
}

.nav-list li{
  list-style: none;
  font-size: 15.5px;
  line-height: 30px;
}

.nav-list li a{
  text-decoration: none;
  align-items: center;
  color: white;
  padding: 7px 20px;
  border-radius: 25px;
  font-weight: 200;
  transition: .5s;
}

.nav-list li a:hover{
  background: white;
  color: black;
  font-weight: 800;
  transition: .5s;
}

.button{
  padding-bottom: 0px;
  font-weight: 600;
}

.button a{
  border: 1px solid white;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  padding: 5.5px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15.5px;
  margin-bottom: 2px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: .5s;
}

.button a:hover{
  background: white;
  font-weight: 900;
  color: black;
  border: 2px solid black;
  transition: .5s;
}

.button a:focus{
  background: green;
  color: white;
  transition: .5s;
}

#report-icon{
  transform: translateY(-2px);
  margin-right: 8px;
}

.notification{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-left: 37%;
  margin-right: 37%;
  letter-spacing: 0.5px;
  z-index: 500;
  position: sticky;
  top: 0;
}

.notification .notification-content{
  background: rgb(216, 96, 96);
  margin-top: 2vh;
  border: 2px solid rgb(119, 24, 24);
  border-radius: 5px;
  color: black;
  position: fixed;
  bottom: -200px;
  right: 25px;
  transition: .5s;
}

.notification.active .notification-content{
  transition: .5s;
  bottom: 25px;
}

#notif-2{
  background: rgb(137, 231, 137);
  border: 2px solid green;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  right: 25px;
}

#background-green{
  background: rgb(137, 231, 137);
  border: 2px solid green;
}

.update-message{
  display: none;
  font-family: 'Open Sans', sans-serif;
  margin: 0.5em;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
  background: rgb(80, 144, 218);
  border: 3px solid rgb(0, 119, 255);
  border-radius: 3px;
  color: black;
  font-weight: 400;
  letter-spacing: 0.5px;
  z-index: 55;
}

#update-title{
  font-weight: bold;
  font-size: 20px;
}

#update-icon{
  transform: translate(-4px, -2px);
  margin-right: 3px;
}

#close-icon{
  font-size: 35px;
  float: right;
  cursor: pointer;
  margin: .3em;
  transition: .5s;
}

#close-icon:hover{
  color: white;
  transition: .5s;
}

.update-message.close{
  display: none;
}

.intro-container{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  align-items: center;
  font-size: 16.5px;
  font-weight: 200;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 5%;
  margin-right: 5%;
}

.intro h1{
  font-weight: 800;
  font-family: 'Urbanist', sans-serif;
  text-align: left;
  margin: 0.6em;
  text-transform: uppercase;
}

.intro img{
  width: 11%;
  border-radius: 100%;
  margin: 1.5em;
  float: right;
}

.intro p{
  margin: 1.5em;
  text-align: left;
}

#works-title{
  text-align: left;
  margin-left: 4%;
  margin-right: 4%;
}

#work-description{
  margin-left: 4%;
  margin-right: 4%;
}

.works-container{
  font-family: 'Open Sans', sans-serif;
  margin: 0.5em;
  font-size: 16.5px;
  text-align: center;
  align-items: center;
  font-weight: 200;
  padding-top: 5px;
  padding-bottom: 5px;
}

.works h1{
  font-family: 'Urbanist', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.works-display{
  display: inline-block;
  width: 30%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.works-display img{
  width: 60%;
  align-items: center;
  margin-right: 20%;
  border-radius: 2%;
  box-shadow: 0 0 4px black;
}

#photo{
  padding-top: 10px;
  padding-bottom: 10px;
}

.contact-info{
  margin: 1.5em;
  font-family: 'Open Sans', sans-serif;
  font-size: 16.5px;
  text-align: center;
  align-items: center;
  font-weight: 200;
  padding-top: 30px;
  padding-bottom: 15px;
}

.contact-info h1{
  margin-left: 10%;
  margin-right: 10%;
}

.posts-container{
  margin: 1.5em;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#posts-arrow-left{
  float: left;
  color: white;
}

#posts-arrow-right{
  float: right;
  color: white;
}

.posts-container-intro{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.posts-month{
  list-style: none;
  margin-left: 40%;
  margin-right: 40%;
}

.posts-select{
  width: 40vh;
  font-size: 16.5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 15px;
  background: rgb(59, 59, 59);
  outline: none;
  border: none;
  color: white;
}

.posts-select:checked{
  transition: .5s;
}

#posts-month-unavailable{
  color: rgb(116, 116, 116);
}

#posts-title{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Urbanist', sans-serif;
  font-weight: 800;
}

#posts-title-intro{
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-left: 4%;
  margin-right: 4%;
  font-family: 'Urbanist', sans-serif;
}

#posts-description{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 200;
  font-size: 16.5px;
}

#posts-description-intro{
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  margin-left: 4%;
  margin-right: 4%;
  font-weight: 200;
  font-size: 16.5px;
}

.post{
  background: #3a3a3a;
  box-shadow: 0 0 4px black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  color: white;
  border-radius: 5px;
  margin: 2em;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16.5px;
}

#post-content{
  margin: 2em;
}

#post-date{
  margin: 2em;
  font-style: italic;
}

#post-margin{
  margin-left: 15%;
  margin-right: 15%;
}

#archive-message{
  margin-left: 15%;
  margin-right: 15%;
  font-weight: 300;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 16.5px;
}

#archive-header{
  margin-top: 45px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Urbanist', sans-serif;
}

#archive-year{
  font-size: 17px;
}

.archive-row-2021{
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.archive-row-2021 li{
  list-style: none;
  display: inline-block;
  margin: 10px;
}

.archive-row-2021 li a{
  display: inline-block;
  padding: 5px 18px;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  transition: .5s;
}

.archive-row-2021 li a:hover{
  background: white;
  color: black;
  font-weight: 700;
  border: 1px solid black;
  transform: translateY(-5px);
  transition: .5s;
}

.archive-row-2021 li a:focus{
  background: green;
  color: white;
  transition: .5s;
}

footer{
  background: #0c0c0c;
  box-shadow: 0 0 4px black;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
}

.new-footer{
  background: 0c0c0c;
  box-shadow: 0 0 4px black;
  padding-top: 35px;
  padding-bottom: 15px;
  color: white;
  text-align: center;
}

.new-footer-row{
  margin-left: 10%;
  margin-right: 10%;
}

#footer-edited{
  padding-top: 20px;
}

.footer-row{
  margin-left: 10%;
  margin-right: 10%;
}

#margin-description{
  margin-right: 20px;
}

.copyright{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
}

.copyright p{
  text-align: center;
  margin-left: 0%;
  margin-right: 0%;
}

#padding-copyright{
  text-align: center;
}

.social-media-links{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 20px;
}

.social-media-links li{
  list-style: none;
  display: inline-block;
}

.social-media-links li a{
  text-decoration: none;
  color: white;
  border-radius: 25px;
  transition: .5s;
  padding: 4px 12px;
  margin: 2px;
  transition: .5s;
}

.social-media-links li a:hover{
  text-decoration: underline;
  background: white;
  color: black;
  font-weight: 900;
  transition: .5s;
}

@media screen and (max-width: 1024px)
{
  body{
    overflow-x: hidden;
  }
  #mobile-remove{
    display: none;
  }
  .center-message{
    margin-left: 10%;
    margin-right: 10%;
  }
  .center-message a{
     margin-left: 12%;
     margin-right: 12%;
  }
  #archive-message{
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 300;
  }
  .archive-row-2021 li{
    display: block;
    flex-direction: column;
    margin-top: 20px;
  }
  .update-message{
    margin-left: 7%;
    margin-right: 7%;
  }
  .notification{
    text-align: center;
    z-index: 500;
  }
  .notification .notification-content{
    right: 30px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 2em;
  }
  .notification.active .notification-content{
    bottom: -5px;
  }
  #notif-1{
    right: -3px;
  }
  #notif-2{
    padding-top: 25px;
    padding-bottom: 10px;
    right: 5px;
  }
  #notif-2 p{
    margin-left: 10%;
    margin-right: 10%;
  }
  #background-green{
    right: 15px;
  }
  .intro-container{
    margin: 0em;
    margin-left: 0%;
    margin-right: 0%;
  }
  .intro{
    margin: 0em;
  }
  .intro img{
    width: 60%;
    float: none;
  }
  .intro h1{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    text-transform: uppercase;
  }
  .intro p{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
  }
  .logo a{
    font-size: 16px;
  }
  .nav-bar{
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .nav-list{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: fixed;
    background: #0c0c0c;
    width: 100%;
    height: 100%;
    padding-top: -30px;
    padding-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    top: 40px;
    right: 1000px;
    z-index: -1;
    transition: 1.2s;
  }
  .nav-list.is_active{
    right: 0px;
    transition: 0.9s;
  }
  .burger-icon{
    display: block;
  }
  .contact-icon{
    display: block;
  }
  .works{
    padding-bottom: 30px;
    padding-top: 30px;
  }
  #works-title{
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
  }
  .works-display img{
    width: 75%;
    align-items: center;
    text-align: center;
    margin-right: 7%;
  }
  .works-display{
    width: 100%;
  }
  #work-description{
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
  }
  .posts-container{
    margin: 0.25em;
  }
  .posts-container-intro{
    margin: 1em;
  }
  #post-margin{
    margin: 1.0em;
    margin-top: 50px;
    box-shadow: 0 0 4px black;
  }
  #post-intro-margin{
    margin: 0.5em;
    margin-top: 50px;
    box-shadow: 0 0 4px black;
  }
  #posts-title{
    margin-top: 15px;
    text-align: center;
  }
  #posts-description{
    text-align: center;
    margin-bottom: 45px;
  }
  #post-content{
    text-align: left;
  }
  #post-date{
    text-align: left;
  }
  .contact-info{
    margin: 0;
    margin-left: .5%;
    margin-right: .5%;
    padding-bottom: 15px;
  }
  footer{
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
  }
  .new-footer{
    padding-top: 20px;
    padding-bottom: 10px;
  }
  #margin-description{
    margin: 0px;
  }
  .copyright{
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .copyright p{
    margin-left: 0%;
    margin-right: 0%;
  }
  #padding-links{
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #padding-copyright{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #new-copyright{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
  }
  #new-links{
    text-align: center;
  }
  .footer-row{
    margin-left: 1%;
    margin-right: 1%;
  }
  .new-footer-row{
    margin-left: 3%;
    margin-right: 3%;
  }
  .social-media-links{
    float: none;
    text-align: center;
    padding-top: 10px;
  }
  .social-media-links li a{
    padding: 4px 12px;
    margin: 2px;
  }
}